/src/CorporateWebsite/bin
bin
obj

src/CorporateWebsite/Web.Debug.config
src/CorporateWebsite/Web.Release.config
src/CorporateWebsite/WY.RMS.Web.csproj.user
*.suo
src/CorporateWebsite.v12.suo
*.suo
*.user
*.pubxml
src/CorporateWebsite/Properties/PublishProfiles/caixiao.pubxml.user
*.user
src/CorporateWebsite/Properties/PublishProfiles/caixiao.pubxml
*.user
src/CorporateWebsite/Properties/PublishProfiles/caixiao.pubxml
*.user
*.suo
*.user
